* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0d6efd;
}

.client {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.client h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.client form {
    font-size: 20px;
}

.client form .form-group {
    margin-bottom: 12px;
}

.client form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}